.page-header
  .container
    %h1= @assignment.course.name

    .form-inline
      = form_for @grade do |f|
        = f.fields_for @grade.student do |sf|
          = sf.hidden_field :id, :id => 'studentId'
          = sf.label :name
          = sf.text_field :name, :id => 'studentName'
        
        = f.label :score
        = f.text_field :score, :id => 'score'
        
        = f.fields_for @grade.assignment do |af|
          = af.hidden_field :id
      
        /= f.submit :class => 'btn'

.main
  .container
    .row
      .span3
        %h3 Ungraded
        %table.table.table-bordered#UngradedTable
          %tr
            %th Students
          - @assignment.course.students.each do |student|
            %tr
              %td
                %span= student.name
                %input{:type => 'hidden', :value => student.id }

      .span9
        %h3 Graded
        %table.table.table-bordered#GradedTable
          %tr
            %th Students
            %th Score
