

.page-header
  .container
    %h1= @course.name

  
    .form-inline
      = form_for @student do |f|
        = f.label :name
        = f.text_field :name, :id => "studentName"
      
        = f.label :email
        = f.text_field :email
        
        = hidden_field(:student, :course_id, :value => @course.id)
      
        = f.submit :class => 'btn'

    .form-inline
      = form_for @grade do |f|
        = f.fields_for @grade.student do |sf|
          = sf.label :name
          = sf.text_field :name, :id => "studentName2"
        
        = f.label :score
        = f.text_field :score
        
        = f.fields_for @grade.assignment do |af|
          = af.hidden_field :course_id, :value => @course.id
      
        = f.submit :class => 'btn'

.main
  .container
    .row
      .span3
        %h3 Ungraded
        %table.table.table-bordered#UngradedTable
          - @course.students.each do |student|
            %tr
              %td
                = student.name
    

      .span9
        %h3 Graded
        %p
          The other table goes over here.

