= @course.name

= form_for @student do |f|
  = f.label :name
  = f.text_field :name

  = f.label :email
  = f.text_field :email
  
  = hidden_field(:student, :course_id, :value => @course.id)

  = f.submit


- @course.students.each do |student|
  %p= student.name

