%h1= @course.name

.form-inline
  = form_for @student do |f|
    = f.label :name
    = f.text_field :name
  
    = f.label :email
    = f.text_field :email
    
    = hidden_field(:student, :course_id, :value => @course.id)
  
    = f.submit

.row
  .span3
    %h3 Ungraded
    %table.table.table-bordered
      - @course.students.each do |student|
        %tr
          %td
            = student.name

  .span9
    %h3 Graded
    %p
      The other table goes over here.