!!!
/[if lte IE 7] <html class="ie7">
/[if IE 8] <html class="ie8">
/[if IE 9] <html class="ie9">
/ [if !IE]><!
%html
  / <![endif]
%html
  %head
    %title SimplyGrading&trade;
    %script{:src => "//use.typekit.net/wxi0key.js", :type => "text/javascript"}
      :javascript
        try{Typekit.load();}catch(e){}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{class: ( (@body_class.nil?) ? '' : "#{@body_class}" ) + ' ' + params[:controller] + ' ' + yield(:body_class)}
  = yield
